
.out-of-stock:hover {
    opacity: 0.8;

}

.op:hover{
    opacity: 0.9;
    cursor: pointer;
}

.butona .btn{
    font-size: .9em;
}

.out-of-stock-label {
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}
.out-of-stock {
    position: relative;
}

.out-of-stock-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #dc3545;
}
